* {
    font-family: 'Gothic A1', sans-serif !important;
  }
  
  .cursive {
    font-family: 'Sacramento', cursive !important;
  }
  
.grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .iframe-container {
    height: 300px;
    margin-bottom: 2%;
  }
  
   @media screen and (min-width:1024px) {
    .grid-container {
      flex-direction: row;
    }
    
    .iframe-container {
      width: 32%;
    }
  }       
       

       